body{
    font-family: Raleway, sans-serif;
    background-color: #ffffff;
    margin: 0;
    text-align: center;
}

h1,h2{
    color: #2b18a3;
    margin-top: 20px;
}



nav ul{
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 10px;
    margin: 0;
    background-color: #ffcc01;

}

nav a{
    margin: 10px;
    text-decoration: none;
    color: black;
}

nav a:hover {
  color: #2b18a3;
  font-size: 18px;
  text-decoration: underline;
  font-weight: bold;
}



img{
    width: 250px;
    height: auto;
    margin-top: 20px;
    border-radius: 10px;
}

.foto img:hover {
  box-shadow: 0 0 20px #2b18a3;
  transform: scale(1.05);
}

.caracteristicas {
  text-align: center;
  padding: 40px;
}


.descripcion {
  max-width: 600px;
  margin: auto;
}


.caracteristicas ul {
  list-style: none;
  padding: 0;
}


.caracteristicas li {
  margin: 8px 0;
}


.btn {
  display: inline-block;
  margin-top: 20px;
  background-color: gold;
  padding: 10px 20px;
  border-radius: 5px;
  text-decoration: none;
}



.btn{
    background-color: #ffcc01;
    border-radius: 5px;
    padding: 10px 20px;
    text-decoration: none;
    color: #2b18a3;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}


.btn:hover{
    background-color: #2b18a3;
color: #ffcc01;
font-weight: bold;
}